In [3]:
from support_funcs import *
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [21]:
df = get_yield_curves()

In [5]:
df.head()

         date  1_m  3_m  6_m   1_y  2_y   3_y   5_y  7_y  10_y  20_y  30_y
0  1962-01-02  NaN  NaN  NaN  3.22  NaN  3.70  3.88  NaN  4.06   NaN   NaN
1  1962-01-03  NaN  NaN  NaN  3.24  NaN  3.70  3.87  NaN  4.03   NaN   NaN
2  1962-01-04  NaN  NaN  NaN  3.24  NaN  3.69  3.86  NaN  3.99   NaN   NaN
3  1962-01-05  NaN  NaN  NaN  3.26  NaN  3.71  3.89  NaN  4.02   NaN   NaN
4  1962-01-06  NaN  NaN  NaN  3.26  NaN  3.71  3.89  NaN  4.02   NaN   NaN

In [6]:
melted_df = pd.melt(df, id_vars=['date'], value_vars=['1_m', '3_m','6_m','1_y','2_y',
                                   '3_y','5_y','7_y','10_y','20_y','30_y'])
melted_df.columns = ['date','term','rate']

In [7]:
melted_df.head()

         date term  rate
0  1962-01-02  1_m   NaN
1  1962-01-03  1_m   NaN
2  1962-01-04  1_m   NaN
3  1962-01-05  1_m   NaN
4  1962-01-06  1_m   NaN

## Scatter Plot

In [ ]:
data = [go.Scattergl(x=df['10_y'],y=df['30_y'],mode='lines+markers',
                     marker=dict(
                         size=12,
                         color='rgb(51,204,255)',
                         symbol='diamond-tall-open-dot',
                         line=dict(width=1)
                     ))]
layout = go.Layout(title='10 yr rate vs 30 yr rate', 
                   xaxis=dict(title='10 yr'),yaxis=dict(title='30 yr'), 
                   hovermode='closest')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

## Line Plot

In [ ]:
def plot_tenor(tenor):
    df_temp = df[df[tenor].first_valid_index():]
    trace0 = go.Scattergl(x=df_temp['date'],
                         y=df_temp[tenor],mode='lines+markers',
                         name='lines',
                         line=dict(
                             color='rgb(0, 54, 135)',
                             width=1),
                         marker=dict(
                             color='rgb(0, 0, 0)',
                             opacity=0.1,
                             size=.5)
                         )
    
    data = [trace0]
    tenor,horizon = tenor.split('_')
    if horizon == 'y':
        label = tenor + ' year yield'
    else:
        label = tenor + ' month yield'
    layout = go.Layout(title=label, 
                       xaxis=dict(title='Date'),yaxis=dict(title=label), 
                       hovermode='closest')
    fig = go.Figure(data=data,layout=layout)
    pyo.plot(fig)

In [ ]:
plot_tenor('6_m')

## Using Pandas (already done)

In [8]:
df = pd.read_csv('../Plotly-Dashboards-with-Dash/SourceData/nst-est2017-alldata.csv')

In [9]:
df2 = df[df['DIVISION'] == '1']
df2.set_index('NAME',inplace=True)
df2 = df2[[col for col in df2.columns if col.startswith('POP')]]

In [12]:
data = [go.Scattergl(x=df2.columns,y=df2.loc[name],
                     mode='lines+markers',name=name) for name in df2.index]

pyo.plot(data)

'temp-plot.html'

In [57]:
def tenor_laber_maker(tenor):
    tenor,horizon = tenor.split('_')
    if horizon == 'y':
        label = tenor + ' year yield'
    else:
        label = tenor + ' month yield'
        
    return(label)

# create multiple tenor curves
def rate_trace_maker(tenor,df):
    trace = go.Scattergl(x=df['date'],
                         y=df[tenor],mode='lines',
                         name=tenor_laber_maker(tenor),
                         )
    return(trace)

def plot_tenors(traces):
    
    layout = go.Layout(title='Multiple Rate Plots', 
                       xaxis=dict(title='Date'),yaxis=dict(title='Rate'), 
                       hovermode='closest')
    fig = go.Figure(data=traces,layout=layout)
    pyo.plot(fig)

In [58]:
tenors = ['1_m','6_m','10_y','30_y']

In [59]:
traces = []
for tenor in tenors:
    temp = rate_trace_maker(tenor,df)
    traces.append(temp)

In [61]:
plot_tenors(traces)

## Bar Charts

In [68]:
# get covid19 data
import pandas as pd
import io
import requests
url='https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
s=requests.get(url).content
df=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [77]:
df_sum = df.groupby(by='state').agg(max).reset_index()[['state','cases','deaths']]

In [96]:
df_sum.sort_values(by=['deaths','cases'],ascending=False,inplace=True)

In [99]:
trace1 = go.Bar(x=df_sum['state'],y=df_sum['deaths'],
                marker=dict(color='#a60000'),name='Deaths')
trace2 = go.Bar(x=df_sum['state'],y=df_sum['cases'],
                marker=dict(color='#ebab34'),name='Cases')

data = [trace1,trace2]
layout = go.Layout(title='Total CCP Virus Deaths in US States',
                   xaxis=dict(title='State'),yaxis=dict(title='Total Deaths'),
                   barmode='stack')
fig = go.Figure(data=data,layout=layout)
pyo.plot(fig)

'temp-plot.html'

## Bubble Charts

In [100]:
import quandl as qd

qd.ApiConfig.api_key = 'sy31ewCypsNZeYvWPmx_'

# get the table for daily stock prices and,
# filter the table for selected tickers, columns within a time range
# set paginate to True because Quandl limits tables API to 10,000 rows per call

data = qd.get_table('WIKI/PRICES', ticker = ['AAPL', 'MSFT', 'NDAQ'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2015-12-31', 'lte': '2020-04-15' }, 
                        paginate=True)

data.set_index('date',inplace=True)
data = data.pivot(columns='ticker')

data['AAPL_return']=data.adj_close.AAPL.pct_change()
data['MSFT_return']=data.adj_close.MSFT.pct_change()
data['NDAQ_return']=data.adj_close.NDAQ.pct_change()

In [ ]:
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
from datetime import datetime

In [ ]:
melted_df['Day'] = melted_df.apply(lambda x: str(x.date),axis=1)

In [ ]:
'2020-01-01,2020-02-01,2019-12-01'

In [ ]:
def get_yield_curves_csv(in_dts,df):
    temp = df[melted_df['date'].isin(dt_con_csv(in_dts))]
    fig = px.line(temp, x="term", y="rate",color="Day",
                  title='Multi-Day Yield Curves',render_mode='webgl')
    fig.show()

In [ ]:
print(px.line.__doc__)

In [ ]:
df['ten_m_two'] = df['10_y'] - df['2_y']
df['flag'] = (df.ten_m_two < 0)

In [ ]:
fig = px.line(df[~df.ten_m_two.isna()], x="date", y="ten_m_two",color='flag')
fig.show()

In [ ]:
def rate_differ(dt1,dt2):

In [ ]:
get_yield_curves_csv('2020-04-15,2020-03-15,2020-02-15,2019-04-15,2019-03-15,2019-02-15',melted_df)

In [ ]:
def get_yield_curves(day1,day2):
    mask = (melted_df['date'] == dt_con(day1)) | (melted_df['date'] == dt_con(day2))
    fig = px.line(melted_df.loc[mask], x="term", y="rate",color="Day")

    fig.update_xaxes(
        rangeslider_visible=True,
        rangeselector=dict(
            buttons=list([
                dict(count=1, label="1m", step="month", stepmode="backward"),
                dict(count=6, label="6m", step="month", stepmode="backward"),
                dict(count=1, label="YTD", step="year", stepmode="todate"),
                dict(count=1, label="1y", step="year", stepmode="backward"),
                dict(step="all")
            ])
        )
    )
    fig.show()

In [ ]:
mask = (melted_df['date'] in dt_con('2020-04-15'))
fig = px.line(melted_df.loc[mask], x="term", y="rate",color="Day")

fig.update_xaxes(
    rangeslider_visible=True,
    rangeselector=dict(
        buttons=list([
            dict(count=1, label="1m", step="month", stepmode="backward"),
            dict(count=6, label="6m", step="month", stepmode="backward"),
            dict(count=1, label="YTD", step="year", stepmode="todate"),
            dict(count=1, label="1y", step="year", stepmode="backward"),
            dict(step="all")
        ])
    )
)
fig.update_layout(showlegend=False)
fig.show()

In [ ]:
get_yield_curves('2020-01-01','2000-01-01')